<h1>
	Projects
</h1>

<% if user_signed_in? then %>

	<div class="panel panel-default">
		<div class="panel-body">
			<!-- 自分のプロジェクトのみ表示 -->
			<label>
				<%= check_box_tag '','',session[:my_proj_only], {'data-name' => 'my_proj_only'} %>自分のプロジェクトのみ表示
			</label>
			
			<!-- 新規作成フォーム -->
			<%= form_for @projects.build, :html => {:class=> "navbar-form"} do |f| %>
			<div class="input-group">
				<%= f.text_field :title, :class => "form-control", :placeholder => "プロジェクト名" %>
				<span class="input-group-btn">
					<%= f.submit :class => "btn btn-default" %>
				</span>
			</div>
			<% end %>	  
		</div>
	</div>

<% end %>

<table class="table table-striped table-hover">
	<tbody>
		<!-- ログインしている場合 -->
		<% if user_signed_in? then %>
			<% @projects do |project| %>
				<tr>
					<!-- 自分のプロジェクトのみ表示 -->
					<% if session[:my_proj_only] == true then %>
						<% if project.user_id == current_user.id then %>
							<td>
								<%= link_to project.title, project_path(project.id) %>
							</td>
							<td align="right">
								<%= link_to edit_project_path(project.id), class: "btn btn-default btn-sm" do %>
									<i class="glyphicon glyphicon-pencil"></i>
								<% end %>  
								<%= link_to project_path(project.id), class: "btn btn-default btn-sm", method: :delete, data: { confirm: "are you sure?" } do %>
									<i class="glyphicon glyphicon-remove"></i>
								<% end %>
							</td>
						<% end %>
					<% else %>
						<td>
							<%= link_to project.title, project_path(project.id) %>
						</td>
						<td>
							<%= link_to image_tag('icon_pencil-edit.png',size: '15x15'), edit_project_path(project.id) %>
							<%= link_to image_tag('icon_trash_alt.png',size: '15x15'), project_path(project.id), method: :delete, data: { confirm: "are you sure?" } %>
						</td>
					<% end %>
				</td>
			<% end %>
		<% else %>
			<tr><td>
				<!-- ログインしていない場合 -->
				<% @projects.each do |project| %>
					<%= link_to project.title, project_path(project.id) %>
				<% end %>
			</tr></td>			
		<% end %>
	</tbody>
</table>

<script>
$(function() {
	$("input[type=checkbox]").click(function(){
		$.post('/projects/toggle/'+$(this).data('name'));
	});
});
</script>