<!-- チェック項目の作成、編集フォーム -->

<%= form_for @check, html: {class: "form-horizontal" } do |c| %>
	<fieldset>
		<legend><%= t('labels.contents') %></legend>

		<!-- タイトル -->
		<div class="form-group">
			<%=c.label :title, class: "col-lg-2 control-label" %>
			<div class="col-lg-10">
				<%=c.text_field :title, class: "form-control", placeholder: t('activerecord.attributes.check.title_description') %>
			</div>
		</div>

		<!-- チェック詳細 -->
		<div class="form-group">
			<%=c.label :contents, class: "col-lg-2 control-label" %>
			<div class="col-lg-10">
				<%=c.text_area :contents, class: "form-control", placeholder: t('activerecord.attributes.check.contents_description') %>
			</div>
		</div>

		<!-- タグ -->
		<div class="form-group">
			<%=c.label :tags, class: "col-lg-2 control-label" %>
			<div class="col-lg-10">
				<%= tag(:input, { id: "tokenfield", type: "text", name: "check[tag_list]", value: @check.tag_list.join(", "), class: "form-control", placeholder: t('activerecord.attributes.check.tags_description') }) %>
				<%= Check.all_tags.join(", ") %>
			</div>
		</div>

		<!-- 実行ボタン -->
		<div class="form-group" align="right">
			<div class="col-lg-10 col-lg-offset-2">
				<%= button_tag(type: 'submit', class: "btn btn-primary") do %>
					<i class="glyphicon glyphicon-save"></i> <%= t('labels.save')%>
				<% end %>
			</div>
		</div>

	</fieldset>

<% end %>

<script>
	$('#tokenfield').tokenfield()
</script>